<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
</head>

<body>
<img class="background book-bg" src="/images/bookshelf.jpeg">
    <% include templates/navigation.ejs%>
    <% include templates/flash.ejs %>
    <div class="row main-body">
        <div class="col-md-4 offset-md-2">
            <div class="card text-center">
                <div class="card-body">
                    <img src='<%=imageURL%>' alt="Book Image" style="width:300px;height:400px;">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><%=book_title%></h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <%=description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Course:</strong> <%=course%>
                    </li>
                    <li class="list-group-item">
                        <strong>Author:</strong> <%=author%>
                    </li>
                    <li class="list-group-item">
                        <strong>Price:</strong> $<%=price.toFixed(2)%>
                    </li>
                    <li class="list-group-item">
                        <strong>Seller:</strong> <a href="<%='/users/profile/'+sellerId._id%>"><%=sellerId.username%></a>
                    </li>
                    <li class="list-group-item">
                        <strong>Availability:</strong> <%=avail%>
                    </li>
                </ul>
                <!-- Only shown if book is up for sale -->
                <% if (!sold){ %>
                    <a href='<%="/submit/purchase/" + book_id%>' class="btn btn-primary">Purchase</a>
                <%}%>
                <a href='<%="/submit/book/" + setbook_id%>' class="btn btn-secondary">Sell this book</a>
            </div>
        </div>  
    </div>
    <% include templates/footer.ejs%>
</body>
</html>
