<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand" rel="stylesheet">

</head>

<body>
<img class="background book-bg" src="/images/bookshelf.jpeg">


    <% include templates/navigation.ejs%>
    <% include templates/flash.ejs %>
<div class="main-body container">

    <h3 class="page-header">My Shopping Cart</h3>
    <table class="table table-striped text-center">
        <thead class="thead">
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% if (books.length > 0){ %>
        <% books.forEach(function(book){ %>
        <tr>
            <td>
                <a href='<%='/setbook/'+book.setbookID._id%>'><%=book.setbookID.title%></a>
            </td>
            <td>
                <%=book.setbookID.course%>
            </td>
            <td>
                $<%=book.price.toFixed(2)%>
            </td>
            <td>
                <% if (book.sold){%>
                    Sold
                <%}else{%>
                    Available
                <%}%>
            </td>
            <td>
                <a href="<%='/book/'+book._id%>">view</a>
            </td>
        </tr>
        <%})%>
        <%}%>
        </tbody>
    </table>

    <form action="/users/cart" method="post">
        <div class="form-group text-center button">
            <button type="submit" class="btn btn-primary">Purchase</button>
        </div>
    </form>
    <% include templates/footer.ejs%>
</div>
</body>
</html>