<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include templates/navigation.ejs%>
    <% include templates/flash.ejs %>
    <h3 class="page-header">My Books</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <% if (books.length > 0){ %>
            <% books.forEach(function(book){ %>
            <tr>
                <td>
                    <a href='<%='/setbook/'+book.setbookID._id%>'><%=book.setbookID.title%></a>
                </td>
                <td>
                    <%=book.setbookID.course%>
                </td>
                <td>
                    <%=book.price%>
                </td>
                <td>
                    <% if (book.sold){%>
                        Sold
                    <%}else{%>
                        Selling
                    <%}%>
                </td>
                <td>
                    <a href="<%='/book/'+book._id%>">view</a>
                </td>
            </tr>
            <%})%>
        <%}%>
        </tbody>
    </table>
    <h3 class="page-header">Books Purchased</h3>
</body>
</html>