<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  	<% include templates/navigation.ejs%>
  	<% include templates/flash.ejs %>
  	<h3 class="page-header">Welcome to <%= title %></h3>
  	<table class="table table-dark">
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        <% if (books.length > 0){ %>
            <% books.forEach(function(book){ %>
            <tr>
                <td>
                    <a href='<%='/book/'+book._id%>'><%=book.title%></a>
                </td>
                <td>
                    <%=book.course%>
                </td>
                <td>
                    <%=book.price%>
                </td>
                <td>
                    <% if (book.sold){%>
                        Sold
                    <%}else{%>
                        Selling
                    <%}%>
                </td>
            </tr>
            <%})%>
        <%}%>
    </table>
</body>
</html>
