<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  	<% include templates/navigation.ejs%>
  	<% include templates/flash.ejs %>
	<h3 class="page-header">Welcome to <%= title %></h3>
  	<table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Author</th>
                <th>No. of Listings</th>
            </tr>
        </thead>
        <tbody>
        <% if (books.length > 0){ %>
            <% books.forEach(function(book){ %>
            <tr>
                <td>
                    <a href='<%='/setbook/'+book._id%>'><%=book.title%></a>
                </td>
                <td>
                    <%=book.course%>
                </td>
                <td>
                    <%=book.author%>
                </td>
                <td>
                    <%=book.books.length%>
                </td>
            </tr>
            <%})%>
        <%}%>
        </tbody>
    </table>
</body>
</html>
